<div class="container form_container">
    <h1 class="form_title"><%= title %></h1>
    <%= form_for @message do |f| %>
        <%= f.label :title %><br />
        <%= f.text_field :title, maxlength: 141 %><br /><br />
        <%= f.label :body %><br />
        <%= f.text_field :body, maxlength: 141 %><br />
        
        <%= f.submit submit_msg, class: "btn-large blue" %>

    <% end %>
</div>