<%= stylesheet_link_tag "messages/index" %>

<div class="container">
    <%= link_to "Messages", messages_path %>
    <%= link_to "Create Message", new_message_path %>
</div>

<div class="container">
    <% @messages.each do |message| %>
        <div>
            <p ><%= message.title%></p>
            <p><%= message.body %></p>
        </div>
    <% end %>   
</div>